{% extends 'base.html' %}

{% block title %}All Accounts{% endblock title %}

{% block content %}

    <h2>All Accounts</h2>

    <table class="table table-striped">
        <tr>
            <th>Category</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Recovery Codes</th>
            <th>Action</th>
        </tr>
        {% for acc in object_list %}
            <tr>
                <td>{{acc.category}}</td>
                <td>{{acc.username}}</td>
                {% comment %} <td>{{acc.password}}</td> {% endcomment %}
                {% comment %} <td><a href="{% url 'view-password' acc.id %}">View</a></td> {% endcomment %}


                 <td>
                    <a href="{% url 'view-password' acc.id %}" data-toggle="modal" data-target="#{{acc.id}}">View</a>
                    <div class="modal fade" id="{{acc.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Your Password</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4>Your Password is: {{acc.password}}</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </td>


                <td>{{acc.email_id}}</td>
                <td>{{acc.phone_id}}</td>
                <td><a href="{% url 'all-code' %}">View</a></td>

                
                <td>
                    <a href="{% url 'edit-account' acc.id %}" data-toggle="modal" data-target="#{{acc.category}}">Edit</a>

                    <div class="modal fade" id="{{acc.category}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Account</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method='post'>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type='submit' class="btn btn-success">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                    </div>   
                    <a href="{% url 'delete-account' acc.id %}">Delete</a>
                </td>


                {% comment %} <td><a href="{% url 'edit-account' acc.id %}">Edit</a> <a href="{% url 'delete-account' acc.id %}">Delete</a></td> {% endcomment %}

            </tr>
        {% endfor %}
    </table>

{% endblock content %}