{% extends 'base.html' %}

{% block title %}All Accounts{% endblock title %}

{% block content %}

    <h2>All Accounts</h2>

    <table class="table table-striped">
        <tr>
            <th>Category</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Recovery Codes</th>
            <th>Action</th>
        </tr>
        {% for acc in object_list %}
            <tr>
                <td>{{acc.category}}</td>
                <td>{{acc.username}}</td>
                {% comment %} <td>{{acc.password}}</td> {% endcomment %}
                {% comment %} <td><a href="{% url 'view-password' acc.id %}">View</a></td> {% endcomment %}




                 <td>
                <a href="#">
                <div id="version-display" data-toggle="modal" data-target="#myModal">
                View
                </div>
                </a>
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                         <!-- Modal content-->
                            <div class="modal-content">
              
                                <div class="modal-header">
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <h4 class="modal-title">Password</h4>
                                </div>
                
                <div class="modal-body">
                    <div class="dev-info">
                      <p class=""><b>Your password:</b></p>
                      <p>{{acc.password}}</p><br>          
                    </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                        </div>
                    </div>
                </div>        
                </td>







                <td>{{acc.email_id}}</td>
                <td>{{acc.phone_id}}</td>
                <td><a href="{% url 'all-code' %}">View</a></td>
                <td><a href="{% url 'edit-account' acc.id %}">Edit</a> <a href="{% url 'delete-account' acc.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}